@use "../base/variables" as *;
@use "../base/mixins";

#hero-section {
  min-height: 100vh;
  height: 100vh;
  padding: 0 5.6rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  display: flex;
  align-items: center;

  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  line-height: 1.2;
  animation: hidden 1000ms linear forwards;

  @include mixins.respond(tab-port) {
    justify-content: center;
  }
  @include mixins.respond(phone) {
    padding: 0 $default-font-size;
  }

  .hero-section__title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    span {
      margin: 0;
      display: inline-block;
    }

    .heart_animation {
      animation: heartbeat 2s infinite ease-in-out;
    }

    @include mixins.respond(tab-land) {
      font-size: 4rem;
    }
    @include mixins.respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include mixins.respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include mixins.respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-section__cta {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include mixins.respond(tab-port) {
      flex-direction: column;
      justify-content: center;
    }

    #social-links {
      display: flex;
      gap: 2rem;

      @include mixins.respond(tab-port) {
        margin-top: 2rem;
      }
    }

    & a {
      font-size: 2.4rem;
      transition: all ease 0.2s;

      .fa-brands {
        font-size: $big-font-size;
        color: $secondary-color;
        transition: all ease-in-out 0.2s;
      }

      @include mixins.respond(phone) {
        font-size: 2rem;
      }

      &:hover {
        transform: scale(1.1) translateY(-2px);

        .fa-linkedin {
          color: #4875b4;
        }
      }
    }
  }
}

.hero__scroll-link {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);

  .hero__scroll {
    width: 30px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: 20%;
      left: 50%;
      border: 2px solid $secondary-color;
      transform: translate(-50%, -100%) rotate(45deg);
      border-top: none;
      border-left: none;
      animation: scroll-down 1s ease-in-out infinite;
    }

    &::after {
      top: 30%;
      animation-delay: 0.3s;
    }
  }
}

@keyframes hidden {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
