@use "../base/mixins";

.form_label {
  display: block;
  font-size: x-large;
  margin-bottom: 8px;
  font-weight: bold;
}

.form_input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1.7rem;

  @include mixins.respond(phone) {
    width: 100%;
  }
}

.error-message {
  color: red;
  padding-top: 5px;
}

.form_btn {
  width: 25%;
  min-height: 3rem;
  border-radius: 20px;
  border-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 0.5rem;

  text-align: center;
  font-size: 2em;
  line-height: 1em;
  font-weight: 600;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration-line: none;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: color, background-color, border-color, opacity,
    box-shadow, transform;

  @include mixins.respond(phone) {
    width: 100%;
  }
}
