---
import Image from "astro/components/Image.astro";
---

<section id="about-section" aria-labelledby="about-title">
  <div class="container">
    <h2 id="about-title" class="section-title"></h2>
    <div class="row about-wrapper">
      <div class="about-wrapper__image">
        <Image
          alt="Foto de perfil de Isaque Costa"
          class="img-fluid"
          height="350"
          src="/images/profile.jpg"
          format="jpg"
          width="450"
          loading="eager"
        />
      </div>
      <div class="about-wrapper__info">
        <p class="about-wrapper__info-text"></p>
        <span class="about-wrapper__cta">
          <a
            href="/isaque-curriculo-fullstack.pdf"
            class="cta-btn cta-btn--resume"
            aria-label="Baixar meu currículo em PDF"
            download>
          </a>
        </span>
      </div>
    </div>
  </div>

  <!-- Formação Acadêmica Section -->
  <section id="academic-formation" aria-labelledby="formation-title">
    <h2 id="formation-title"></h2>
    <div class="academic-formation__container">
      <img
        alt="Logo da Universidade Federal do Acre"
        class="institution-img"
        src="/images/ufac_logo.png"
      />
      <h3 class="institution-name"></h3>
      <h4 class="course-name"></h4>
      <p>2024 - <span aria-label="em andamento">on going</span></p>
    </div>
    <div class="academic-formation__container">
      <img
        alt="Logo da WebAcademy"
        class="institution-img"
        src="/images/webacademy_logo.jpg"
      />
      <h3 class="institution-name"></h3>
      <h4 class="course-name"></h4>
      <p>2024 - 2025</p>
    </div>
  </section>
</section>

<script>
  import i18next from "../i18next/index";

  // About Section
  document.querySelector(".section-title")!.innerHTML = i18next("aboutSection.title");
  document.querySelector(".about-wrapper__info-text")!.innerHTML = i18next("aboutSection.text");
  document.querySelector(".cta-btn--resume")!.innerHTML = i18next("aboutSection.resumeBtn");

  // Formation Section
  document.querySelector("#formation-title")!.innerHTML = i18next("formationSection.title");

  document.querySelectorAll(".institution-name")[0].innerHTML = i18next("formationSection.institution1");
  (document.querySelectorAll(".institution-img")[0] as HTMLImageElement).alt = i18next("formationSection.institution1");
  document.querySelectorAll(".course-name")[0].innerHTML = i18next("formationSection.course1");

  document.querySelectorAll(".institution-name")[1].innerHTML = i18next("formationSection.institution2");
  (document.querySelectorAll(".institution-img")[1] as HTMLImageElement).alt = i18next("formationSection.institution2");
  document.querySelectorAll(".course-name")[1].innerHTML = i18next("formationSection.course2");
</script>
