---
import Image from "astro/components/Image.astro";
---

<section id="about-section">
  <div class="container">
    <h2 class="section-title"></h2>
    <div class="row about-wrapper">
      <div class="about-wrapper__image">
        <Image
          alt="Profile Image"
          class="img-fluid"
          height="350"
          src="/images/profile.jpg"
          format="jpg"
          width="450"
          loading="eager"
        />
      </div>
      <div class="about-wrapper__info">
        <p class="about-wrapper__info-text"></p>
        <span class="about-wrapper__cta">
          <a href="/isaque-curriculo-fullstack.pdf" class="cta-btn cta-btn--resume"></a>
        </span>
      </div>
    </div>
  </div>

  <!-- Formação Acadêmica Section -->
  <div id="academic-formation">
    <h2 id="title"></h2>
    <div class="academic-formation__container">
      <img
        alt="Universidade federal do acre"
        class="institution-img"
        src="/images/ufac_logo.png"
      />
      <h3 class="institution-name"></h3>
      <h4 class="course-name"></h4>
      <p>2024 - on going</p>
    </div>
    <div class="academic-formation__container">
      <img
        alt="Responsive image"
        class="institution-img"
        src="/images/webacademy_logo.jpg"
      />
      <h3 class="institution-name"></h3>
      <h4 class="course-name"></h4>
      <p>2024 - 2025</p>
    </div>
  </div>
</section>

<script>
  import i18next from "../i18next/index";

  // About Section
  document.querySelector(".section-title")!.innerHTML = i18next("aboutSection.title");
  document.querySelector(".about-wrapper__info-text")!.innerHTML = i18next("aboutSection.text");
  document.querySelector(".cta-btn--resume")!.innerHTML = i18next("aboutSection.resumeBtn");

  // Formation Section
  document.querySelector("#title")!.innerHTML = i18next("formationSection.title");

  document.querySelectorAll(".institution-name")[0].innerHTML = i18next("formationSection.institution1");
  (document.querySelectorAll(".institution-img")[0] as HTMLImageElement).alt = i18next("formationSection.institution1");
  document.querySelectorAll(".course-name")[0].innerHTML = i18next("formationSection.course1");

  document.querySelectorAll(".institution-name")[1].innerHTML = i18next("formationSection.institution2");
  (document.querySelectorAll(".institution-img")[1] as HTMLImageElement).alt = i18next("formationSection.institution2");
  document.querySelectorAll(".course-name")[1].innerHTML = i18next("formationSection.course2");
</script>
