<footer class="footer">
  <div class="container">
    <a aria-label="go back to top" class="back-to-top" href="#hero-section">
      <i aria-hidden="true" class="fa fa-angle-up fa-2x"></i>
    </a>
    <div class="social-links">
      <a
        aria-label="gmail"
        href="mailto:isaquecosta160@gmail.com"
        rel="noopener noreferrer"
        target="_blank"
      >
        <i class="fa-regular fa-envelope"></i>
      </a>
      <a
        aria-label="linkedin"
        href="https://www.linkedin.com/in/isaque-costa-a0660230b/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        aria-label="github"
        href="https://github.com/Isaque16"
        rel="noopener noreferrer"
        target="_blank"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <hr />
    <p class="footer__text">
      &copy; <span id="year"></span> - Template by
      <a
        href="https://github.com/AnilSeervi"
        rel="noopener noreferrer"
        target="_blank"
      >Anil Seervi</a
      >. <br />Made with &hearts;
    </p>
  </div>
</footer>
