<section id="tech-stack-section">
  <h2 class="section-title"></h2>
  <div class="tech-stack-container">
    <span>
      <img alt="TypeScript" src="/icons/typescript.svg" width="70"/>
    </span>
    <span>
      <img alt="Nextjs" src="/icons/nextdotjs.svg" width="70" />
    </span>
    <span>
      <img alt="tRPC" src="/icons/trpc.svg" width="70" />
    </span>
    <span>
      <img alt="PrismaORM" src="/icons/prisma.svg" width="70" />
    </span>
    <span>
      <img alt="MongoDB" src="/icons/mongodb.svg" width="70" />
    </span>
    <span>
      <img alt="MySQL" src="/icons/mysql.svg" width="70" />
    </span>
    <span>
      <img alt="TailwindCSS" src="/icons/tailwindcss.svg" width="70" />
    </span>
  </div>
</section>

<script>
  import i18next from "../i18next/index";
  document.querySelectorAll(".section-title")[1].innerHTML = i18next("techSection.title")
</script>
