<section id="tech-stack-section" aria-labelledby="tech-stack-title">
  <div class="container">
    <h2 id="tech-stack-title" class="section-title"></h2>
    <ul class="tech-stack-container">
      <li>
        <img alt="TypeScript" src="/icons/typescript.svg" width="70"/>
        <span class="sr-only">TypeScript</span>
      </li>
      <li>
        <img alt="Next.js" src="/icons/nextdotjs.svg" width="70" />
        <span class="sr-only">Next.js</span>
      </li>
      <li>
        <img alt="tRPC" src="/icons/trpc.svg" width="70" />
        <span class="sr-only">tRPC</span>
      </li>
      <li>
        <img alt="Prisma ORM" src="/icons/prisma.svg" width="70" />
        <span class="sr-only">Prisma ORM</span>
      </li>
      <li>
        <img alt="MongoDB" src="/icons/mongodb.svg" width="70" />
        <span class="sr-only">MongoDB</span>
      </li>
      <li>
        <img alt="MySQL" src="/icons/mysql.svg" width="70" />
        <span class="sr-only">MySQL</span>
      </li>
      <li>
        <img alt="TailwindCSS" src="/icons/tailwindcss.svg" width="70" />
        <span class="sr-only">TailwindCSS</span>
      </li>
    </ul>
  </div>
</section>

<script>
  import i18next from "../i18next/index";
  document.querySelectorAll(".section-title")[1].innerHTML = i18next("techSection.title")
</script>
