---
import Image from "astro/components/Image.astro";
const projectName = "Landing Page Telemen";
---

<article class="row" aria-labelledby="telemen-project-title">
  <div class="project-wrapper__text">
    <h3 id="telemen-project-title" class="project-wrapper__text-title">{projectName}</h3>
    <p class="project-wrapper__text-info"></p>
    <h4 id="telemen-tech-title" style="font-size: medium"></h4>
    <ul
      class="project-wrapper__tech-stack"
      aria-labelledby="telemen-tech-title"
    >
      <li>
        <img alt="HTML5" src="/icons/html5.svg" width="40" />
        <span class="sr-only">HTML5</span>
      </li>
      <li>
        <img alt="TypeScript" src="/icons/typescript.svg" width="35"/>
        <span class="sr-only">TypeScript</span>
      </li>
      <li>
        <img alt="Nuxtjs" src="/icons/nuxtdotjs.svg" width="45" />
        <span class="sr-only">Nuxt.js</span>
      </li>
      <li>
        <img alt="Vue.js" src="/icons/vuedotjs.svg" width="35" />
        <span class="sr-only">Vue.js</span>
      </li>
      <li>
        <img alt="Node.js" src="/icons/nodedotjs.svg" width="40" />
        <span class="sr-only">Node.js</span>
      </li>
      <li>
        <img alt="TailwindCSS" src="/icons/tailwindcss.svg" width="40" />
        <span class="sr-only">TailwindCSS</span>
      </li>
    </ul>
    <div class="project-wrapper__text-btns">
      <a
        class="cta-btn cta-btn--projects view"
        href="https://landing-page-telemen.vercel.app/"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Ver projeto Landing Page Telemen ao vivo"
      ></a>
      <a
        class="cta-btn text-color-main docs"
        href="https://github.com/Isaque16/LandingPageTelemen"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Ver código-fonte do projeto Landing Page Telemen no GitHub"
      ></a>
    </div>
  </div>

  <div class="project-wrapper__image">
    <a
      href="https://landing-page-telemen.vercel.app/"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="Ver projeto Landing Page Telemen"
    >
      <div class="thumbnail rounded">
        <Image
          alt="Captura de tela da Landing Page Telemen mostrando a interface principal do site"
          class="img-fluid"
          height="767"
          src="/images/landingpage.png"
          format="png"
          width="1366"
          loading="eager"
        />
      </div>
    </a>
  </div>
</article>

<script>
  import i18next from "../i18next/index";
  document.querySelector(".project-wrapper__text-info")!.innerHTML = i18next("projectsSection.project1Content")
</script>
